{% extends "base.html" %}

{% block content %}


<h1> Register </h1>
<form method="post" action="{% url 'register' %}">
{% csrf_token %}
{{form.as_p}}
<!--<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.email.label_tag }}</td>
    <td>{{ form.email }}</td>
</tr>

<tr>
    <td>{{ form.password1.label_tag }}</td>
    <td>{{ form.password1 }}</td>
</tr>
<tr>
    <td>{{ form.password2.label_tag }}</td>
    <td>{{ form.password2 }}</td>
</tr>

</table> -->


<input type="submit" value="Register" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
<p>Did you need to <a href='{% url "login" %}'>Login</a>?


{% endblock %}
